:root {
    --blur2: blur(3px);
    --background-gradient-glass: linear-gradient(0deg, rgba(0, 0, 0, 0.14609593837535018) 0%, rgba(255, 255, 255, 0.5158438375350141) 100%);
    --background-solid-dark: #00000025;
    --background-solid-darker: #00000025;
    --txt-shadow: -1px -1px 2px #0000008f, -1px 1px 3px #cccccc78, 1px 1px 3px #0000008f, 1px -1px 3px #cccccc78;
}

.txt-white-shadow {
    color: white;
    text-shadow: var(--txt-shadow);
}

.prevent-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
    display: none;
}

#sctIcon[src='#'] {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    /* position: relative; */
}

form {
    margin: 0;
}

* {
    /* outline: 1px solid yellowgreen; */
}

    *:focus {
        outline: 1px solid gray;
        /* background-color: orange; */
    }

#background {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-image: url(/themes/glass_default/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    display: inline-block;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 40px;
    backdrop-filter: var(--blur2);
    background-color: var(--background-solid-dark);
    /* background: var(--background-gradient-glass); */
    z-index: 10;
    /* border-top: 1px solid #ffffff66; */
    border-bottom: 1px solid #ffffff66;
}

    header nav {
        width: auto;
        float: left;
    }

#search {
    width: calc(50% - 30px);
    height:100%;
    float: right;
    padding-right: 30px;
}
#search form{
    height:100%;
}

header nav .menu {
    padding: 0;
    margin: 0;
    display: inline-flex;
    height: 100%;
    width: 100%;
    list-style: none;
}

#engineContainer {
    position: fixed;
    right: 0px;
    background-color: var(--background-solid-dark);
    backdrop-filter: blur(3px);
    z-index: 11;
    margin-top:40px;
    box-shadow: -1px 1px 0px #c9c9c9dc, 1px -1px 0px #ededed6e, 0px 6px 10px #0000008f;
    border-radius: 0.6rem;
    display: none;
}

    #engineContainer ul {
        padding: 10px 0;
        margin: 0px 0px;
        width: 180px;
        height: auto;
        list-style: none;
    }

        #engineContainer ul li span {
            pointer-events: none;
        }

        #engineContainer ul li {
            display: block;
            margin: 8px 0;
            padding: 4px 2px;
            color: white;
            text-shadow: var(--txt-shadow);
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
        }

            #engineContainer ul li:hover {
                background-color: white;
                color: black;
                text-shadow: none;
            }

                #engineContainer ul li:hover > span img {
                    transform-style: preserve-3d;
                    transform: rotate3d(-2, 2, 1, -40deg);
                    transition: .333s;
                }

            #engineContainer ul li:focus {
                background-color: var(--background-solid-dark);
                color: white;
            }

            #engineContainer ul li img {
                width: 20px;
            }

#showEngines-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.showEngines {
    max-width: 100%;
    max-height: 100%;
}

    .showEngines img {
        width: 0.7rem;
    }

.button-light-trans {
    margin: auto 5px;
    padding: 6px 8px;
    background: white;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    height: fit-content;
    border-radius: 0.3rem;
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: clamp(.5rem, .7rem, 1rem);
    background: transparent;
    background: linear-gradient(0deg, rgb(0 0 0 / 4%) 0%, rgb(255 255 255 / 35%) 100%);
    color: white;
    border-radius: 0.7rem;
    cursor: pointer;
}

    .button-light-trans:focus, .button-light-trans:hover {
        background-color: rgba(167, 167, 167, 0.348) !important;
    }

#searchFormC {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: calc(100% - 0.8rem);
    height: 100%;
    padding: 0.4rem;
}

    #searchFormC input[type='text'] {
        width: -webkit-fill-available;
        color: white;
        background: transparent;
        border-radius: 0.7rem;
        /* border: 1px solid #d3d3d378; */
        border: none;
        outline: 1px solid #ffffff66;
        padding: 0 8px;
        box-shadow: 0px 0px 9px #0000002e;
    }

        #searchFormC input[type='text']::placeholder {
            color: rgba(255, 255, 255, 0.4);
        }

.glass-button-solid {
    border: 1px solid white;
    background: white;
    color: #3d3d3d;
    border-radius: 0.2rem;
    font-weight: bold;
    box-shadow: 0px 0px 3px white;
    margin: 2px 6px;
}

.glass-input {
    width: 100%;
    background: #ffffffe1;
    color: black;
    border-radius: .4rem;
    border: none;
    outline: 1px solid white;
    margin: 4px 0px;
}

.glass-lbl {
    color: white;
    /* font-weight: bold; */
    filter: drop-shadow(0px 0px 1px black);
}

.glass-radio input[type='radio'] {
    display: none;
}

.glass-radio label {
    background-color: white;
    padding: 2px 4px;
    margin: 0;
    cursor: pointer;
}

    .glass-radio label:first-of-type {
        border-radius: .4rem 0 0 .4rem;
    }

    .glass-radio label:last-of-type {
        border-radius: 0 .4rem .4rem 0;
    }

.glass-radio input[type="radio"]:checked + label {
    background-color: gray;
    color: white;
}

#stopEditMode {
    display: none;
}
/*  */
.title {
    display: inline-flex;
    width: 100%;
    height: 40px;
    backdrop-filter: var(--blur2);
    background-color: var(--background-solid-dark);
    position: sticky;
    top: 40px;
    border-top: 1px solid #ffffff66;
    border-bottom: 1px solid #ffffff66;
    z-index: 1;
}

    .title h5 {
        font-family: Arial, Helvetica, sans-serif;
        padding: 1rem;
        margin: 0;
        width: 50%;
    }

.container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: repeat|(auto-fill, 120px);
    justify-content: space-between; */
    width: 90%;
    height: auto;
    padding: 40px 5% 20px 5%;
    z-index: -1;
    /* overflow: hidden; */
}

.element::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(6px);
    position: absolute;
    top: 0;
    border-radius: inherit;
    z-index: -1;
}
/* .element .bg{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    background: var(--background-gradient-glass);
    opacity: 0;
    transition: .4S;
        z-index: -1;
} */
.element:hover > .bg {
    opacity: 0.8;
}

.element:hover {
    background: linear-gradient(0deg, rgb(84 84 84 / 35%) 0%, rgb(246 246 246 / 60%) 100%);
    z-index: 1;
}

.element {
    font-size: clamp(0.9rem, calc(0.6rem + 0.4vw), 1rem);
    display: flex;
    width: 5.5rem;
    height: 6.0rem;
    padding: 0.3rem;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    border-radius: 0.6rem;
    /* backdrop-filter: var(--blur2); */
    /* background: var(--background-gradient-glass); */
    box-shadow: -1px 1px 0px #c9c9c9dc, 1px -1px 0px #ededed6e, 0px 6px 10px #0000008f;
    outline: 1px solid #ffffff66;
    transition: 0.666s;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

    .element .icon {
        width: 100%;
        height: 60%;
        text-align: center;
    }

        .element .icon img {
            max-width: 100%;
            max-height: 100%;
            height: 75%;
            aspect-ratio: 1 / 1;
        }

    .element label {
        font-family: Arial, Helvetica, sans-serif;
        width: calc(100% - 0.5rem);
        max-height: 40%;
        height: 100%;
        /* margin: 0 auto; */
        padding: 0 0.5rem;
        overflow: hidden;
        line-height: 0.9;
        text-align: center;
        border-radius: 0 0 0.4rem 0.4rem;
        line-break: anywhere;
        pointer-events: none;
    }

.uriGroup .container {
    position: absolute;
    left: 0;
    top: 0;
    /* background: red; */
    padding: 0;
    transition: .666s;
    display: none;
    /* opacity: 0; */
    pointer-events: none;
    width: initial;
}

    .uriGroup .container .element {
        margin: 0;
        margin-bottom: 10px;
        background-color: red;
        background: var(--background-solid-dark);
        opacity: 0;
        transition: 1s;
    }

        .uriGroup .container .element:hover {
            background: linear-gradient(0deg, rgb(84 84 84 / 35%) 0%, rgb(246 246 246 / 60%) 100%);
        }

.uriGroup.showChildren {
    z-index: 1;
}

    .uriGroup.showChildren > .container {
        display: block;
        opacity: 1;
        pointer-events: initial;
        z-index: 1;
    }

        .uriGroup.showChildren > .container .element {
            opacity: 1;
            transition: 1s;
        }
/* .folder:hover > .container{
    display: block;
    opacity: 1;
    pointer-events: initial;
    left: -100%;
    z-index: 1;
} */

/* .folder .container{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    padding: 0;

    transition: 1s;
    opacity: 0;
    display: block;
    pointer-events: none;
    background-color: red;
    overflow: initial;
}
.folder:hover > .container{
    display: block;
    opacity: 1;
    left: 100%;
    pointer-events: initial;
}
.folder .container.show{
    display: block;
    opacity: 1;
    left: 100%;
    left: calc(-100% - 1.2rem);
    pointer-events: initial;
} */

.imgContainer img {
    width: 150px;
    margin: 10px;
}

#modalEdition {
    display: none;
    /* display: block; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 2;
}

    #modalEdition .container {
        width: 60%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        outline: 1px solid #ffffff66;
        border-radius: 0.6rem;
        background: var(--background-solid-darker);
    }

        #modalEdition .container form {
            font-family: arial;
        }

#contenxtMenu {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    background: var(--background-solid-dark);
    backdrop-filter: var(--blur2);
    text-shadow: var(--txt-shadow);
    color: white;
    font-family: arial;
    width: max-content;
    z-index: 1;
    border-radius: .7rem;
    outline: 1px solid lightgray;
}

    #contenxtMenu li:first-of-type {
        border-radius: .7rem .7rem 0 0;
    }

    #contenxtMenu li:last-child {
        border: none !important;
        border-radius: 0 0 .7rem .7rem;
    }

    #contenxtMenu li {
        /* border-bottom: 1px solid lightgray; */
        cursor: pointer;
        width: 100%;
        width: -webkit-fill-available;
        padding: 4 12px;
    }

        #contenxtMenu li:hover {
            background-color: var(--background-solid-dark);
        }
/*  */
#testClick {
    display: none;
}

footer {
    background: var(--background-solid-dark);
    position: fixed;
    bottom: 0px;
    text-align: right;
    padding: 0px 10px;
    width: calc(100% - 20px);
}

    footer a {
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

/* AUTOCOMPLETE */
.ui-menu {
    position: absolute;
    top: 20px;
    left: initial !important;
    right: 0;
    width: clamp(10px, 50%, 300px);
    display: block;
    z-index: 10;
    list-style: none;
    padding: 0px 8px;
    background-color: var(--background-solid-dark);
    backdrop-filter: blur(8px);
    color: #ffffff;
}

    .ui-menu li {
        margin: 4px 0px;
        cursor: pointer;
        text-shadow: var(--txt-shadow);
        overflow: hidden;
    }

.ui-helper-hidden-accessible {
    display: none !important;
}

@media (max-width: 300px) {
    #searchFormC label {
        position: absolute;
        right: 0;
        margin: 0px 54px 0 0;
        filter: grayscale(1) opacity(0.5);
    }
}

@media (max-width: 575px) {
    header {
        height: 80px;
    }

        header nav, header #search {
            width: 100%;
            height: 50%;
            padding: 0;
        }

    #showEngines-trigger {
        height: 50%;
    }

    .title {
        top: 81px;
    }
}

@media (min-width: 576px) {
    /* ... */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* ... */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* ... */
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* ... */
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* ... */
}
