<html>
    <head>
        <title>Home Pro</title>
        <script src="assets/jquery-3.6.0.min.js"></script>
        <script src="assets/controller.js"></script>
        <link rel="stylesheet" href="assets/styles/default/style.css">
        <link rel="icon" type="image/png" href="assets/favicon.ico">

    </head>
    <body>
        <div id="background">

        </div>
        <div id="contextMenu" class="context-menu" style="display: none"> 
            <ul class="menu"> 
                <li class="share"><a href="#"><i class="fa fa-share" aria-hidden="true"></i> Share</a></li> 
                <li class="rename"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Rename</a></li> 
                <li class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i> Copy Link Address</a></li> 
                <li class="copy"><a href="#"><i class="fa fa-copy" aria-hidden="true"></i> Copy to</a></li> 
                <li class="paste"><a href="#"><i class="fa fa-paste" aria-hidden="true"></i> Move to</a></li> 
                <li class="download"><a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download</a></li> 
                <li class="trash"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></li> 
            </ul> 
        </div> 
        <nav>
            <div>
                <ul class="menu2">
                    <a href="#shortcuts"><li>Shortcuts</li></a>
                    <a href="#"><li>Files</li></a>
                    <a href="#"><li>Projects</li></a>
                </ul>
            </div>
            <div>
                <form action="https://www.google.com/search?q=" class="searchForm" id="searchForm">
                    <input id="searchInput" type="text" value="" place holder="Search" name="q" autofocus>
                    <input id="searchBtn" type="submit" value="Go!" onclick='event.preventDefault();validateSearch();'>
                    <!--  -->
                    <ul class="engines">
                        <div class="desp">▼</div>
                        <!-- <li>
                            <img src="https://cdn-static.ecosia.org/assets/images/ico/favicon.ico"
                                alt="">
                            span
                        </li>
                        <li>
                            <img src="https://duckduckgo.com/favicon.ico" alt="">
                            gugul 2
                        </li> -->
                        <%-engines%>
                    </ul>
                </form>
            </div>
        </nav>
        <section id="shortcuts">
            <h5>Shortcuts</h5>
            <div class="container">
                <%-shortcuts%>
            </div>
        </section>
        <section>
            <h5>Files</h5>
            <div class="container">
                <%-filesFound%>
            </div>
        </section>
        <section>
            <h5>Folders</h5>
            <div class="container">
                <%-folders%>
            </div>
        </section>
        <img id="configIcon" src="assets/styles/default/config.png" alt="">

        <div id="testClick" style="
            display: block;
            position: fixed;
            top: 0px;
            left: 0px;
            width: 2px;
            height: 2px;
            background: transparent;
            z-index: 9999999;
            pointer-events: none;
        "></div>
        <script src="https://www.google.com/complete/search?client=hp&hl=en&sugexp=msedr&gs_rn=62&gs_ri=hp&cp=1&gs_id=9c&q=a&xhr=t&callback=hello&callback=testApi"></script>
        <!-- 
            https://simplestepscode.com/autocomplete-data-tutorial/
         -->
    </body>
</html>