:root{
    --background:rgba(255, 255, 255, 0.2);
    --background-gradient:linear-gradient(0deg,#757575 0%, rgba(117, 117, 117, 1) 6%, rgba(181, 181, 181, 1) 35%, rgba(255, 255, 255, 1) 77%, #ffffff 100%);
    --background-gradient-hover:linear-gradient(0deg,#bfbfbf 0%, rgba(191, 191, 191, 1) 6%, rgba(181, 181, 181, 1) 35%, rgba(255, 255, 255, 1) 77%, #ffffff 100%);
    --background-blur:blur(2px);
    --background-blur-hard:blur(6px);
    --border:1px solid #ffffff;
    --txt-shadow:-1px -1px 2px #00000082,
        -1px 1px 2px #00000082,
        1px 1px 2px #00000082,
        1px -1px 2px #00000082,

        -1px -1px 3px #00000082,
        -1px 1px 3px #00000082,
        1px 1px 3px #00000082,
        1px -1px 3px #00000082
        ;
    --white: rgb(245, 245, 245);
}
*{
    padding: 0;
    margin: 0;
    outline: 1px solid tomato;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
.hidden{
    display: none;
}
.border{
    border: var(--border);
}
.txt-white{
    color: white;
}
.txt-shadow{
    text-shadow:var(--txt-shadow);
}
.shadow{
    box-shadow: 
        -1px 1px 8px #3131319d,
        1px -1px 8px #3131319d,
        6px 6px 8px #3131319d;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.mx-1{margin:0 0.25rem;}
.mx-2{margin:0 0.5rem;}
.mx-3{margin:0 0.75rem;}
.mx-4{margin:0 1.0rem;}

.my-1{margin:0.25rem    0;}
.my-2{margin:0.5rem 0;}
.my-3{margin:0.75rem    0;}
.my-4{margin:1.0rem 0;}
.mb-1{margin-bottom:0.25rem;}
.mb-2{margin-bottom:0.5rem;}
.mb-3{margin-bottom:0.75rem;}
.mb-4{margin-bottom:1.0rem;}
.mt-1{margin-top:0.25rem;}
.mt-2{margin-top:0.5rem;}
.mt-3{margin-top:0.75rem;}
.mt-4{margin-top:1.0rem;}

.px-1{padding:0 0.25rem;}
.px-2{padding:0 0.5rem;}
.px-3{padding:0 0.75rem;}
.px-4{padding:0 1.0rem;}

.py-0{padding:0rem 0;}
.py-1{padding:0.25rem 0;}
.py-2{padding:0.50rem 0;}
.py-3{padding:0.75rem 0;}
.py-4{padding:1.0rem 0;}
.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
  background-color: transparent;
  border-radius: calc(1rem + 8px);
}
::-webkit-scrollbar-thumb {
  background-color: #d3d3d3; /* red color */
  border-radius: 5px; /* rounded corners */
}
::-webkit-scrollbar-thumb:hover{
  background-color: white; /* red color */
  border-radius: 5px; /* rounded corners */
}
::-webkit-scrollbar-track {
  background-color: #5a5a5a3a; /* light grey track */
  border-radius: 1rem;
  margin: 0.25rem 1rem;
  padding: 2rem;
}
/* AUTOCOMPLETE */
.ui-menu{
    position: absolute;
    top: 20px;
    left: initial !important;
    right: 0;
    width: clamp(10px, 50%, 300px);
    display: block;
    z-index: 10;
    list-style: none;
    padding: 0px 8px;
    background-color: var(--background-solid-dark);
    backdrop-filter: blur(8px);
    color: #ffffff;
}
.ui-menu li{
    margin: 4px 0px;
    cursor: pointer;
    text-shadow: var(--txt-shadow);
    overflow: hidden;
}
.ui-helper-hidden-accessible{
    display: none !important;
}

dialog{
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff85;
    backdrop-filter: var(--background-blur-hard);
    border-radius: 1rem;
    border: 1px solid white;
    transition: 1s;
}
dialog:-internal-dialog-in-top-layer::backdrop {
    backdrop-filter: var(--background-blur);
}
/* ****************************** */
html,body{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#background{
    background-color: black;
    background-image: url(/assets/themes/default/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

header{
    display: flex;
    position: sticky;
    width: 100%;
    height: 50px;
    top: 0px;
    z-index: 1;
    border-bottom: var(--border);
    z-index: 2;
    backdrop-filter: var(--background-blur);
}

header nav{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;

}

header nav ul{
    display: inline-flex;
    list-style: none;
}
header nav ul li{
    text-decoration: none;
    margin: 0 10px;
}

header div.search-bar{
    width: 50%;
    display: flex;
    align-items: center
}
header div.search-bar form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header div.search-bar form .search{
    right: 0px;
    width: clamp(150px, 100%, 500px);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header div.search-bar form input[type="search"]{
    width: 100%;
    height: 24px;
    border: var(--border);
    border-radius: 0.5rem;
    background-color: transparent;
    backdrop-filter: var(--background-blur);
    text-shadow: var(--txt-shadow);
    color: white;
}
header div.search-bar form #suggestions{
    background: red;
    width: 100%;
    display: block;
    position: absolute;
    top: 100%;
}
header div.search-bar form input[type="search"]::placeholder {
    color: white;
}
header div.search-bar form input[type="search"]:focus{
    outline: none;
}

.btn-primary{
    background-color: transparent;
    border-radius: 0.6rem;
    border: 1px solid #ffffff;
    padding: 0.5rem;
    position: relative;
    color: white;
    text-shadow: var(--txt-shadow);
    cursor: pointer;
    background-image: linear-gradient(to top, var(--gradient-glass-bottom), var(--gradient-glass-top));
    transition: --gradient-glass-bottom 0.5s ease, --gradient-glass-top 0.5s ease;
}

.btn-primary:hover{
    --gradient-glass-bottom: rgba(129, 129, 129, 0.85);
    --gradient-glass-top: rgba(233, 233, 233, 0.85);
}

.listing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 34px;
    
}

.titleBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
section h4{
    width: 100%;
    padding-top: 56px;
}


.icon{
    width: 40px;
    height: 40px;
}
.icon-sm{
    width: 20px;
    height: 20px;
}

#enginesArrow img{
    pointer-events: none;
}
.searchEnginesList{ /* <ul> */
    list-style: none;
}
.searchEnginesList.show{ /* <ul> */
    display: contents;
}
.searchEnginesList .container::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: var(--background-blur-hard);
    background-color: red;
}
.searchEnginesList .container{
    position: absolute;
    display: none;
    top: 44px;
    width: 50%;
    right: 2px;
    padding-top: 8px;
    /* padding: 10px; */
    /* backdrop-filter: var(--background-blur-hard); */
    border: var(--border);
}
/* .searchEnginesList li button:before
{
    content: 'ssss';
    display: block;
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
} */
/* .searchEnginesList li button div{
    position: absolute;
} */
 .searchEnginesList li button{
    background-color: gray;
 }
.searchEnginesList li{
    margin: 0px 0;
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
}
.searchEnginesList li:focus,
.searchEnginesList li:hover{
    color: red;
}

/* shortcuts */
.element{
    text-decoration: none;
    margin: 0.5rem 0.5rem;
}
.element:focus{
    outline: none;
}
.element .content *{
    pointer-events: none;
}
.element .content{
    font-size: clamp(0.9rem, calc(0.6rem + 0.4vw), 1rem);
    display: flex;
    width: 5.5rem;
    height: 6.0rem;
    padding: 0.3rem;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    border-radius: 0.6rem;
    backdrop-filter: var(--background-blur);
    background-image: linear-gradient(to top, var(--gradient-glass-bottom), var(--gradient-glass-top));
    transition: --gradient-glass-bottom 0.7s ease, --gradient-glass-top 0.7s ease;
    position: relative;
    border: var(--border);
    cursor: pointer;
    text-decoration: none;
    color: white;
    /* pointer-events: none; */
}
    .element .content:hover,
    .element:focus .content{
        --gradient-glass-bottom: rgba(129, 129, 129, 0.85);
        --gradient-glass-top: rgba(238, 238, 238, 0.85);
        box-shadow: -1px 1px 2px #3131319d, 1px -1px 3px #3131319d, 6px 6px 15px #3131319d;
        transform: scale(1.03);
    }
.element .content .icon{
    width: 100%;
    height: 60%;
    text-align: center;
}
.element .content .icon img{
    max-width: 100%;
    max-height: 100%;
    height: 75%;
    aspect-ratio: 1 / 1;
}
.element .content label{
    font-family: Arial, Helvetica, sans-serif;
    width: calc(100% - 0.5rem);
    max-height: 40%;
    height: 100%;
    padding:0 0.5rem;
    overflow: hidden;
    line-height: 0.9;
    text-align: center;
    border-radius: 0 0 0.4rem 0.4rem;
    line-break: anywhere;
    
}

.uriGroup{
    position: relative;
}
.uriGroup.showChildren .children{
    display: flex;
    left: 100%;
    backdrop-filter: var(--background-blur-hard);
    z-index: 1;
    border:var(--border);
    pointer-events: initial;
    opacity: 1;
    overflow-x: hidden;
}
/* .uriGroup.showChildren .children *{
    opacity: 1;
}

.uriGroup .children *{
    opacity: 0;
} */
.uriGroup .children{
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem;
    transition: .666s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    pointer-events: none;
    width: 50vw;
    height: 50vh;
    overflow-y: scroll;
    backdrop-filter: blur(4px);
    border-radius: 0.8rem;
    transition: 0.5s;
    opacity: 0;
}
.uriGroup .children a{
    height: fit-content;
}


/* FOOTTER */
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0.25rem 0.5rem;
}

ol.contextMenu{
    display: block;
    position: absolute;
    width: 200px;
    background-color: var(--white);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    z-index: 10;
}
ol.contextMenu li{
    padding: 3px 6px;
    border-bottom: 1px solid gray;
}
ol.contextMenu li:nth-last-of-type(1){
    border-bottom: none;
}
ol.contextMenu li:hover{
    background-color: blue;
    color: var(--white);
    cursor: pointer;
    border: 1px solid gray;
    border-style: dotted;
}
/*
@keyframes gradientShift {
  0% {
    background: var(--background-gradient);
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background: var(--background-gradient-hover);
  }
}
*/
.dragging-uri{
    width:34px;
    height:34px;
    background:lightgray;
    border: 1px solid white;
    border-radius: 4px;
}
.pendulum{
    animation-duration: 0.3s;
    animation-name: pendulum;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes pendulum{
    0%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}

@property --gradient-glass-bottom {
  syntax: '<color>';
  initial-value: rgba(90, 90, 90, 0.6);
  inherits: false;
}

@property --gradient-glass-top {
  syntax: '<color>';
  initial-value: rgba(226, 226, 226, 0.6);
  inherits: false;
}