:root{
    --background:rgba(255, 255, 255, 0.2);
    --background-gradient:linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    --background-hover:linear-gradient(0deg, rgba(238, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.5) 100%);
    --background-blur:blur(3px);
    --border:2px solid #ffffffd3;
}
*{
    /* outline:1px solid tomato; */
    padding: 0;
    margin: 0;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
.hidden{
    display: none;
}
.border{
    border: var(--border);
}
.txt-white{
    color: white;
}
.txt-shadow{
    text-shadow:
    -1px -1px 2px #00000082,
    -1px 1px 2px #00000082,
    1px 1px 2px #00000082,
    1px -1px 2px #00000082,

    -1px -1px 3px #00000082,
    -1px 1px 3px #00000082,
    1px 1px 3px #00000082,
    1px -1px 3px #00000082
    ;
}
.mx-1{margin:0 0.25rem;}
.mx-2{margin:0 0.5rem;}
.mx-3{margin:0 0.75rem;}
.mx-4{margin:0 1.0rem;}

.my-1{margin:0.25rem    0;}
.my-2{margin:0.5rem 0;}
.my-3{margin:0.75rem    0;}
.my-4{margin:1.0rem 0;}

.px-1{padding:0 0.25rem;}
.px-2{padding:0 0.5rem;}
.px-3{padding:0 0.75rem;}
.px-4{padding:0 1.0rem;}

.py-1{padding:0.25rem 0;}
.py-2{padding:0.50rem 0;}
.py-3{padding:0.75rem 0;}
.py-4{padding:1.0rem 0;}
/* ****************************** */
html,body{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#background{
    background-color: black;
    background-image: url(/assets/themes/default/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

header{
    display: flex;
    position: sticky;
    width: 100%;
    height: 50px;
    top: 0px;
    z-index: 1;
    border-bottom: var(--border);
}

header nav{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

header nav ul{
    display: inline-flex;
    list-style: none;
}
header nav ul li{
    text-decoration: none;
    margin: 0 10px;
}

header div.search-bar{
    width: 50%;
    display: flex;
    align-items: center
}
header div.search-bar form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header div.search-bar form input{
    width: clamp(150px, 100%, 400px);
    height: 24px;
    border: var(--border);
    border-radius: 0.5rem;
    background-color: transparent;
    color: white;
}
header div.search-bar form input::placeholder {
    color: white;
}
header div.search-bar form input:focus{
    outline: none;
}
.listing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 34px;
    
}

section h4{
    width: 100%;
    padding-top: 56px;
}

.element{
    display: block;
    position: relative;
    width: 134px;
    height: 160px;
    margin: 10px 10px;
    border: var(--border);
    border-radius: 1rem;
    transition: transform 0.3s ease; 
    box-shadow: 4px 4px 10px #00000066;
}
.element::before{
    display: block;
    position: absolute;
    top: 0;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    content: "";
    background: var(--background-hover);
    backdrop-filter: blur(3px);
    z-index: -1;
    border-radius: calc(1rem - 2px);
    /* border: var(--border); */
    transition: 0.5s;
    opacity: 0;
}
.element:hover{
    transform: scale(1.06); 
    /* box-shadow: 2px 2px 10px #00000066; */
}
.element:hover::before{
    /* background: var(--background-hover); */
    opacity: 1;
}
.element a{
    display: block;
    width: 100%;
    height: 100%;
    /* background: var(--background-gradient); */
    /* transition: .3s; */
}

.element img{
    width: 80%;
    margin: 5px 10%;
    aspect-ratio: 1/1;
}
.element .name{
    position: absolute;
    bottom: 5px;
    height: 31px;
    width: calc(100% - 6px);
    margin: 0px 3px;
    text-align: center;
    line-height: 0.95;
    overflow: hidden;
    color: white;
    
}

.folder .content{
    /* display: none; */
    pointer-events: none;
    position: absolute;
    top: 0;
    width: clamp(200px, 60vw, 90vw);
    height: auto;
    /* height: clamp(200px, 50vh, 55vh); */
    left: 100%;
    transition: 0.3s;
    z-index: 1;
    opacity: 0;
    border-radius: calc(0.50rem + 10px);
    background: var(--background-gradient);
}
.folder:hover .content{
    /* display: block; */
    pointer-events: initial;
    opacity: 1;
}

/* .glass::before{
    display:block;
    position:absolute;
    top: 0;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    content:"";
    background-color:rgba(228, 228, 228, 0.103);
    backdrop-filter: blur(3px);
    z-index: -1;
    border-radius: inherit;
} */

.icon{
    width: 40px;
    height: 40px;
}
.icon-sm{
    width: 20px;
    height: 20px;
}

.searchEnginesList{ /* <ul> */
    list-style: none;
}
.searchEnginesList.show{ /* <ul> */
    display: contents;
}
.searchEnginesList .container{
    position: absolute;
    display: none;
    top: 20px;
    width: 50%;
    right: 2px;
    background: rgba(255, 174, 0, 0.342);
    margin-top: 10px;
    padding: 10px;
}
.searchEnginesList li{
    margin: 9px 0;
}
.searchEnginesList li a{
    outline: 1px solid blue;
    display: block;
    width: 100%;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0.25rem 0.5rem;
}