:root{
    --background:rgba(255, 255, 255, 0.2);
    --background-gradient:linear-gradient(0deg,rgba(117, 117, 117, 1) 0%, rgba(117, 117, 117, 1) 6%, rgba(181, 181, 181, 1) 35%, rgba(255, 255, 255, 1) 77%, rgba(255, 255, 255, 1) 100%);
    --background-gradient-hover:linear-gradient(0deg,rgba(191, 191, 191, 1) 0%, rgba(191, 191, 191, 1) 6%, rgba(181, 181, 181, 1) 35%, rgba(255, 255, 255, 1) 77%, rgba(255, 255, 255, 1) 100%);
    --background-blur:blur(3px);
    --background-blur-hard:blur(6px);
    --border:2px solid #ffffffd3;
}
*{
    /* outline:1px solid tomato; */
    padding: 0;
    margin: 0;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
.hidden{
    display: none;
}
.border{
    border: var(--border);
}
.txt-white{
    color: white;
}
.txt-shadow{
    text-shadow:
    -1px -1px 2px #00000082,
    -1px 1px 2px #00000082,
    1px 1px 2px #00000082,
    1px -1px 2px #00000082,

    -1px -1px 3px #00000082,
    -1px 1px 3px #00000082,
    1px 1px 3px #00000082,
    1px -1px 3px #00000082
    ;
}
.mx-1{margin:0 0.25rem;}
.mx-2{margin:0 0.5rem;}
.mx-3{margin:0 0.75rem;}
.mx-4{margin:0 1.0rem;}

.my-1{margin:0.25rem    0;}
.my-2{margin:0.5rem 0;}
.my-3{margin:0.75rem    0;}
.my-4{margin:1.0rem 0;}

.px-1{padding:0 0.25rem;}
.px-2{padding:0 0.5rem;}
.px-3{padding:0 0.75rem;}
.px-4{padding:0 1.0rem;}

.py-1{padding:0.25rem 0;}
.py-2{padding:0.50rem 0;}
.py-3{padding:0.75rem 0;}
.py-4{padding:1.0rem 0;}
/* AUTOCOMPLETE */
.ui-menu{
    position: absolute;
    top: 20px;
    left: initial !important;
    right: 0;
    width: clamp(10px, 50%, 300px);
    display: block;
    z-index: 10;
    list-style: none;
    padding: 0px 8px;
    background-color: var(--background-solid-dark);
    backdrop-filter: blur(8px);
    color: #ffffff;
}
.ui-menu li{
    margin: 4px 0px;
    cursor: pointer;
    text-shadow: var(--txt-shadow);
    overflow: hidden;
}
.ui-helper-hidden-accessible{
    display: none !important;
}
/* ****************************** */
html,body{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#background{
    background-color: black;
    background-image: url(/assets/themes/default/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

header{
    display: flex;
    position: sticky;
    width: 100%;
    height: 50px;
    top: 0px;
    z-index: 1;
    border-bottom: var(--border);
}

header nav{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

header nav ul{
    display: inline-flex;
    list-style: none;
}
header nav ul li{
    text-decoration: none;
    margin: 0 10px;
}

header div.search-bar{
    width: 50%;
    display: flex;
    align-items: center
}
header div.search-bar form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header div.search-bar form .search{
    right: 0px;
    width: clamp(150px, 100%, 500px);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header div.search-bar form input{
    width: 100%;
    height: 24px;
    border: var(--border);
    border-radius: 0.5rem;
    background-color: transparent;
    color: white;
}
header div.search-bar form #suggestions{
    background: red;
    width: 100%;
    display: block;
    position: absolute;
    top: 100%;
}
header div.search-bar form input::placeholder {
    color: white;
}
header div.search-bar form input:focus{
    outline: none;
}
.listing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 34px;
    
}

section h4{
    width: 100%;
    padding-top: 56px;
}


.icon{
    width: 40px;
    height: 40px;
}
.icon-sm{
    width: 20px;
    height: 20px;
}

.searchEnginesList{ /* <ul> */
    list-style: none;
}
.searchEnginesList.show{ /* <ul> */
    display: contents;
}
.searchEnginesList .container{
    position: absolute;
    display: none;
    top: 20px;
    width: 50%;
    right: 2px;
    background: rgba(255, 174, 0, 0.342);
    margin-top: 10px;
    padding: 10px;
}
.searchEnginesList li{
    margin: 9px 0;
}
.searchEnginesList li a{
    outline: 1px solid blue;
    display: block;
    width: 100%;
}

/* shortcuts */
.element:hover > .bg{
    opacity: 0.8;
}

.element:hover{
    background: linear-gradient(0deg, rgb(84 84 84 / 35%) 0%, rgb(246 246 246 / 60%) 100%);
    z-index:1;
}
.element::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(6px);
    position: absolute;
    top: 0;
    border-radius: inherit;
    z-index: -1;
}
.element{
    font-size: clamp(0.9rem, calc(0.6rem + 0.4vw), 1rem);
    display: flex;
    width: 5.5rem;
    height: 6.0rem;
    padding: 0.3rem;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    border-radius: 0.6rem;
    /* backdrop-filter: var(--blur2); */
    /* background: var(--background-gradient-glass); */
    box-shadow: 
            -1px 1px 0px #c9c9c9dc,
            1px -1px 0px #ededed6e,
            0px 6px 10px #0000008f;
    outline: 1px solid #ffffff66;
    transition: 0.666s;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}
.element .icon{
    width: 100%;
    height: 60%;
    text-align: center;
}
.element .icon img{
    max-width: 100%;
    max-height: 100%;
    height: 75%;
    aspect-ratio: 1 / 1;
}
.element label{
    font-family: Arial, Helvetica, sans-serif;
    width: calc(100% - 0.5rem);
    max-height: 40%;
    height: 100%;
    /* margin: 0 auto; */
    padding:0 0.5rem;
    overflow: hidden;
    line-height: 0.9;
    text-align: center;
    border-radius: 0 0 0.4rem 0.4rem;
    line-break: anywhere;
    pointer-events: none;
}
.uriGroup .container{
    position: absolute;
    left: 0;
    top: 0;
    /* background: red; */
    padding: 0;
    transition: .666s;
    /* transition-delay: 3.5s;  */
    display: none;
    /* opacity: 0; */
    pointer-events: none;
    width: initial;
}
.uriGroup .container .element {
    margin: 0;
    margin-bottom: 10px;
    background-color: red;
    background: var(--background-solid-dark);
    opacity: 0;
    transition: 6s;
    
}
.uriGroup .container .element:hover{
    background: linear-gradient(0deg, rgb(84 84 84 / 35%) 0%, rgb(246 246 246 / 60%) 100%);
}
.uriGroup.showChildren{
    z-index: 1;
}
.uriGroup.showChildren > .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    opacity: 1;
    pointer-events: initial;
    z-index: 1;
    background-color: red;
    width: 50vw;
    left: 100%;
}
.uriGroup.showChildren > .container .element{
    opacity: 1;
    transition: 1s;
}

/* FOOTTER */
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0.25rem 0.5rem;
}