*{
    /* outline:1px solid tomato; */
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
            user-select: none;
  }

html{
    /* background-color: purple; */
    /* color: white; */
}
body{
    background-color: black;
}
nav{
    display: inline-flex;
    width: 100%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 8px;
    background: white;
    z-index: 1;
}
nav div{
    display: block;
    width: 50%;
    height: inherit;
}
.searchForm{
    display: flex;
    height: inherit;
}
.engines{
    display: block;
    list-style: none;
    background-color: red;
    margin: 0px;
    padding: 0px;
    /* padding: 0px 4px; */
    width: 24px;
}
.engines .desp{
    padding:0px;
    margin: 0px;
    width: inherit;
    height: 100%;
    background: green;
    text-align: center;
    /* padding: 0px 4px; */
}
.engines:hover>li{
    display: block;
}
.engines li{
    display: none;
    position: absolute;
    position: relative;
    top: 0px;
    left: 0px;
    width: 110px;
    background-color: pink;
    padding: 4px 2px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    cursor: pointer;
}
.engines li img{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.engines li:hover{
    background-color: hotpink;
}


section{
    display: block;
    width: 100%;
}
section h5{
    position: sticky;
    top: 40px;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 4px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
section .container{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

.element{
    width: 64px;
    height: 102px;
    margin: 5px;
    padding: 5px;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    line-break: anywhere;
    background: #db82ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #db82ff 0%, #7713f9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #db82ff 0%,#7713f9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #db82ff 0%,#7713f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db82ff', endColorstr='#7713f9',GradientType=0 ); /* IE6-9 */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition: 0.3s;
}
.element span{
    width: 100%;
    max-height: 42px;
    display: block;
    line-break: anywhere;
    line-height: 0.9;
    margin-top: 4px;
}
.element:hover{
    /* background-color: gray; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
background: rgb(122,188,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

}
.element img{
    width: inherit;
}
.file{
    /* background-color: lightblue; */
    /* background-color: #0658fe;
    background-color: #8166e6; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e6a8ff+0,7713f9+100 */

}
.folder div{
    width: inherit;
}
.folder div img{
    width: inherit;
}
.folder:hover > .submenu{
    opacity: 1;
    /* display: block; */
    pointer-events: initial;
}
.folder .submenu{
    position: relative;
    top: -115px;
    left: 69px;
    background: beige;
    width: max-content;
    height: auto;
    color: black;
    list-style: none;
    padding: 2px 2px;
    cursor: pointer;
    opacity: 0;
    /* display: none; */
    transition: 0.3s;
    pointer-events: none;
}
.folder .submenu li{
    border: 1px solid black;
    padding: 3px;
    margin: 2px;
}
.folder .submenu li:hover{
    border: 1px solid black;
    background-color: gray;
}
.uriGroup{
    /* background-color: blue; */
}
.uriGroup .container{
    z-index: 1;
    width: 80;
    height: auto;
    display: flex;
    flex-direction: column;
    left: 5px;
    top: -87px;
    position: relative;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    padding-top: 2px;
}
.uriGroup:hover > .container{
    pointer-events: initial;
    opacity: 1;
    /* left: 65px; */
    padding-left: 5px;
}
/*
.showGroupRight{
    left: 65px !important;
}
*/
.uriGroup .container .uri{
    background-color: pink;
}
.uriGroup .container :first-child{
    margin-top: 0px;
}
.uriGroup .container .uri:hover{
    background-color: gray;
}


.container{
    display: block;
}
a{
    width: auto;
}
.uri{
    /* background-color: green; */
}
.uri:hover{
    background-color: gray;
}
.uri div img{
    width: 100%;
    height: 64px;
}