
:root{
    /* --background:#005aff24; */
    /* --background-hover:#003ba65c; */
    /* --background:#1f56ba9e; */
    /* --background-hover:#0035979e; */
    --background:#d1d1d114;
    --background-hover:#dddddd30;
    --background-blur:blur(5px);
    --border:2px solid #ffffff19;

    /* --background:#1f89ba52; */
}
*{
    /* outline:1px solid tomato; */
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
.hidden{
    display: none;
}
.txt-shadow{
    text-shadow:
    -1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black,
    1px -1px 2px black;
}
html,body{
    /* background-color: purple; */
    /* color: white; */
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
#background{
    background-color: black;
    /* background-image: url(/assets/styles/default/background2.jpg); */
    background-image: url(/assets/backgrounds/keita-senoh-eEqgTUnwbAk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: -1;
}
nav{
    display: inline-flex;
    width: 100%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0px;
    margin-top: 8px;
    z-index: 1;
    backdrop-filter: blur(4px);
}
nav div{
    display: block;
    width: 50%;
    height: inherit;
}
.searchForm{
    display: flex;
    height: inherit;
}
#searchInput{
    width: 100%;
    background-color: var(--background);
    border:var(--border);
    outline: none;
    color: white;
    backdrop-filter: var(--background-blur);
    font-size: 15px;
    /* border-radius: 4px 0px 0px 4px; */
}
#searchInput:hover{
    background-color: var(--background-hover);
}
#searchInput:focus{
    width: 100%;
    background-color: var(--background);
    border:2px solid var(--background-hover);
    backdrop-filter: var(--background-blur);
}
#searchBtn{
    background-color: var(--background);
    backdrop-filter: var(--background-blur);
    border:2px solid transparent;
    color: white;
}
#searchBtn:hover{
    background-color: var(--background-hover);
}
#searchBtn:hover + label{
    background-color: var(--background-hover);
}
.engines{
    display: block;
    list-style: none;
    background-color: var(--background);
    border:2px solid transparent;
    margin: 0px;
    padding: 0px;
    /* backdrop-filter: var(--background-blur); */
    cursor: pointer;
    width: 24px;
    backdrop-filter: none;
}
.engines:hover{
    background-color: var(--background-hover);
}
.engines .desp{
    padding: 5px 0px 0px 0px;
    margin: 0px;
    width:0px;
    height: 0px;
    /* background-color: var(--background); */
    border:0px solid rgba(255, 0, 0, 0.233);
    text-align: center;
    display: block;
    color:white;
    /* padding: 0px 4px; */
}
.engines .desp::after{
    /* content:"▼" */
}
.engines:hover>li{
    /* display: block; */
}
/*
.engines::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
} */
.engines li{
    display: none;
    position: absolute;
    position: relative;
    /* top: 0px;
    left: 0px; */
    color: white;
    right: 180px;
    width: 202px;
    background-color: var(--background);
    /* border:2px solid transparent; */
    padding: 4px 2px;
    border-top: 1px solid var(--background-hover);
    border-bottom: 1px solid var(--background-hover);
    backdrop-filter: var(--background-blur);
}
.engines li img{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.engines li:hover{
    background-color: var(--background-hover);
}


section{
    display: block;
    width: 100%;
}
section h5{
    position: sticky;
    top: 40px;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 4px;
    background: var(--background);
    backdrop-filter: var(--background-blur);
    z-index: 0;
}
section .container{
    display: inline-flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0% 10%;
    flex-wrap: wrap;
    padding-top: 20px;
}

.element{
    width: 84px;
    height: 92px;
    margin: 5px;
    padding: 5px;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    line-break: anywhere;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition: 0.3s;
    background: var(--background);
    position: relative;
    border: var(--border);
    cursor: pointer;
    /* backdrop-filter: blur(10px);
    position: relative; */
}
.bgBlur{
    backdrop-filter: var(--background-blur);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}
.element span{
    width: 100%;
    max-height: 42px;
    display: block;
    line-break: anywhere;
    line-height: 1.0;
    margin-top: 4px;
    text-align: center;
    pointer-events: none;
}
.element:hover{
    background-color: var(--background-hover);
    border: 2px solid var(--background-hover);
    /* transform: matrix3d(1, 0, 0, 0.002, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); */
    /* transform: rotateY(360deg); */
    /* z-index: 1; */
}
.element:hover > .imgContainer > img{
    /* transform: rotateY(360deg); */
}
.element:not(:hover) > .imgContainer > img{
    /* background-color: red; */
    transition: none;
}
.element img{
    width: inherit;
    transition: .4s;
    /* width: 48px;
    height: 48px; */
}
.file{
    /* background-color: lightblue; */
    /* background-color: #0658fe;
    background-color: #8166e6; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e6a8ff+0,7713f9+100 */

}
.folder div{
    width: 100%;
}
/* .folder div img{
    width: inherit;
} */
/* .folder:hover > .submenu{
    opacity: 1;
    pointer-events: initial;
} */
.submenu{
    /* position: relative; */
    top: -115px;
    left: 69px;
    /* background: beige; */
    width: max-content;
    height: auto;
    color: white;
    list-style: none;
    padding: 0px;
    cursor: pointer;
    opacity: 0;
    /* display: none; */
    position: fixed;
    /* transition: 0.3s; */
    z-index: 1;
    pointer-events: none;
    margin: 0px;
    border: 2px solid var(--background-hover);
    background-color: var(--background);
    font-family: Arial;
}
.submenu li{
    /* border: 1px solid black; */
    padding: 3px 10px;
    /* margin: 2px; */
    background-color: var(--background);
    backdrop-filter: var(--background-blur);
}
.submenu li:hover{
    /* border: 1px solid black; */
    background-color: var(--background-hover);
}
.uriGroup{
    /* background-color: blue; */
}
.uriGroup .container{
    z-index: 1;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    left: 5px;
    top: -75px;
    position: relative;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 2 !important;
    padding-top: 2px;
}
.uriGroup:hover{
    /* transform: none !important; */
}
.uriGroup:hover > .container{
    pointer-events: initial;
    opacity: 1;
    
    /* left: 65px; */
    padding-left: 5px;
}
/*
.showGroupRight{
    left: 65px !important;
}
*/
.uriGroup .container .uri{
    background-color: var(--background-hover);
}
.uriGroup .container :first-child{
    margin-top: 0px;
}
.uriGroup .container .uri:hover{
    background-color: var(--background-hover);
}


.container{
    display: block;
}
a{
    width: auto;
}
.uri{
    /* background-color: green; */
}
.uri:hover{
    background-color: var(--background-hover);
}
.imgContainer img{
    /* width: 100%;
    height: 64px; */
    width: 48px;
    height: 48px;
}
.imgContainer{
    text-align: center;
    width: 100%;
}

.menu2{
    display: inline-flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
    background: var(--background);
    backdrop-filter: var(--background-blur);
    width: 100%;
}

.menu2 a{
    text-decoration: none;
    width: 33.33%;
    text-align: center;
}
.menu2 li{
    height: auto;
    /* background: red; */
    color: white;
    padding: 6px 5px;
    margin: 0px 8px;
    transition: .3s;
}
.menu2 li:hover{
    background-color: var(--background-hover);
}

#configIcon{
    position: fixed;
    display: block;
    bottom: 4px;
    right: 4px;
    width: 34;
    background-color: var(--background);
    backdrop-filter: var(--background-blur);
    border: 1px solid var(--background-hover);
    border-radius: 4px;
}
#configIcon:hover{
    background-color: var(--background-hover);
}

.modal input[type="radio"]{
    display: none;
}
.modal input[type="radio"]+label{
    cursor: pointer;
    margin: 0px 10px;
    padding: 4px;
    transition: 0.3s;
    border: var(--border);
}
.modal input[type="radio"]:checked+label{
    background-color: var(--background-hover);
    color: white;
    border: var(--border);
}
.modal input[type="button"]{
    height: fit-content;
    margin: 0px 10px;
}
.modal{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    transition: 0.3s;
}
.modal .bg{
    /* background-color: #9acd3236; */
    width: 100%;
    height: 100%;
    backdrop-filter: var(--background-blur);
    /* background-color: var(--background-hover); */
}
.modal .container{
    padding: 10px;
    display: block;
    width: 500px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-hover);
    border: var(--border);
    border-radius: 4px;
}

.modal form{
    width: 100%;
    height: 100%;
}
.modal form table{
    width: inherit;
    height: inherit;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.modal form table tr td{
    height: 0;
}
.modal form table tr td > *{
    display: inline-flex;
}
.modal form table input{
    width:100%;
}

footer.credits{
    font-family: Verdana, Calibri;
    font-size: 12px;
    text-align: right;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
footer.credits a{
    color: white;
    padding: 5px;
}


/* AUTOCOMPLETE */
.ui-menu{
    list-style: none;
    padding: 1px 4px;
    display: none;
    max-width: 40%;
    background-color: transparent;
    background-color: var(--background);
    backdrop-filter: var(--background-blur);
    border: var(--border) !important;
}
.ui-menu .ui-menu-item{
    border-bottom: 1px solid #d1d1d15c;
    background-color: transparent;
    color:white;
    text-shadow:
    -1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black,
    1px -1px 2px black;
}
.ui-menu .ui-menu-item:last-child{
    border-bottom: none;
}
.ui-menu .ui-menu-item div{
    border: 1px solid transparent;
}

.ui-state-active{
    background-color: var(--background-hover) !important;
    border:white;
    cursor: pointer;
}
.mdl-conf{
    display: none;
}