*{
    /* outline:1px solid tomato; */
}
html{
    /* background-color: purple; */
    /* color: white; */
}
nav{
    display: inline-flex;
    width: 100%;
    height: 38px;
    font-family: Arial, Helvetica, sans-serif;
}
nav div{
    display: block;
    width: 50%;
    height: inherit;
}
section{
    display: block;
    width: 100%;
}
section h5{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 4px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
section .container{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

.element{
    width: 60px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    display: block;
    border-radius: 4px;
    text-decoration: none;

    background: #e6a8ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #e6a8ff 0%, #7713f9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e6a8ff 0%,#7713f9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e6a8ff 0%,#7713f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6a8ff', endColorstr='#7713f9',GradientType=0 ); /* IE6-9 */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition: 0.3s;
}
.element span{
    width: 100%;
    max-height: 42px;
    display: block;
    line-break: anywhere;
    line-height: 0.9;
}
.element:hover{
    /* background-color: gray; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
background: rgb(122,188,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

}
.element img{
    width: inherit;
}
.file{
    /* background-color: lightblue; */
    /* background-color: #0658fe;
    background-color: #8166e6; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e6a8ff+0,7713f9+100 */

}
.folder{
    /* background-color: yellow; */
}
.uriGroup{
    /* background-color: blue; */
}
.uriGroup .container{
    width: 80;
    height: auto;
    display: flex;
    flex-direction: column;
    /* left: 5px; */
    top: -79px;
    position: relative;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.uriGroup:hover > .container{
    pointer-events: initial;
    opacity: 1;
    /* left: 65px; */
    padding-left: 5px;
}
/* .showGroupRight{
    left: 65px !important;
} */
.uriGroup .container .uri{
    background-color: pink;
}
.uriGroup .container :first-child{
    margin-top: 0px;
}
.uriGroup .container .uri:hover{
    background-color: gray;
}


.container{
    display: block;
}
a{
    width: auto;
}
.uri{
    /* background-color: green; */
}
.uri:hover{
    background-color: gray;
}
.uri div img{
    width: 100%;
}