<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>

    <script src="/libs/jquery/jquery-3.7.1.min.js"></script>
    <script src="/libs/jquery/jquery-ui.js"></script>
    <link rel="stylesheet" href="/libs/jquery/jquery-ui.css">

    <link rel="stylesheet" th:href="@{${'/assets/themes/'+currentTheme+'/style.css'}}">

    <script src="/js/controller.js"></script>
    <script th:inline="javascript">
        const defaultSearchEngine = [[${defaultSearchEngine}]];
        const defaultSearchParameterName = [[${searchParameterName}]];
        const se = [[${searchEngines}]];
    </script>
</head>
<body>
    <div id="background"></div>
    <header class="glass">
        <nav>
            <ul>
                <li>
                    <a href="#shortcuts" class="txt-white txt-shadow">shortcuts</a>
                </li>
                <li>
                    <a href="#server" class="txt-white txt-shadow">server</a>
                </li>
            </ul>
        </nav>
        <div class="search-bar">
            <form id="searchForm" th:action="@{${defaultSearchEngine}}" method="get" class="py-1" onsubmit="event.preventDefault();validateSearch(null,null,this)">
                <div class="search ui-widget">
                    <img src="/search.svg" alt="Search engine" class="icon-sm mx-2">
                    <input id="searchInput" type="search" autofocus="" placeholder="Search..." th:name="${searchParameterName}" autocomplete="off" class="px-2 border">
                    <label id="suggestions" for="searchInput"></label>
                </div>
                <input type="submit" value="GO" class="mx-2 btn-primary">
                <ul class="searchEnginesList">
                    <button id="enginesArrow" class="mx-2 btn-primary">
                        <img src="/arrow.svg" class="icon-sm">
                    </button>
                    <div class="container glass">
                        <li class="txt-shadow"
                            th:each="engine : ${searchEngines}">
                            <button href="#engine1" class="px-2 btn-primary py-1" style="width: 100%;"
                                th:uri="@{${engine.uri}}"
                                th:parameter="@{${engine.parameter}}"
                                >
                                <!-- <div> -->
                                    <img th:src="@{${engine.icon}}"  style="width: 20px;height: 20px;">
                                    [[${engine.name}]]
                                <!-- </div> -->
                            </button>
                        </li>
                        <!--
                        <li class="txt-shadow">
                            <button href="#engine1" class="px-2 btn-primary py-1" style="width: 100%;">
                                <img src="assets/themes/default/icons/folder_ByDinosoftLabs.png" style="width: 20px;height: 20px;">
                                engine1
                            </button>
                        </li>
                        <li class="txt-shadow">
                            <button href="#engine2" class="px-2 btn-primary py-1" style="width: 100%;">
                                <img src="assets/themes/default/icons/folder_ByDinosoftLabs.png" style="width: 20px;height: 20px;">
                                engine2
                            </button>
                        </li>
                        <li class="txt-shadow">
                            <button href="#engine3" class="px-2 btn-primary py-1" style="width: 100%;">
                                <img src="assets/themes/default/icons/folder_ByDinosoftLabs.png" style="width: 20px;height: 20px;">
                                engine3
                            </button>
                        </li>
                        -->
                    </div>
                </ul>
            </form>
        </div>
    </header>
    
    <!-- Shortcuts -->
    <section id="shortcuts" class="listing">
        <div class="title">
            <h4 class="txt-white txt-shadow">Shortcuts</h4>
            <div>
                <button id="editShortcuts">edit</button>
            </div>
        </div>
    <!-- <img src="assets/themes/default/icons/folder_ByDinosoftLabs.png"> -->
    <div id="${id}" href="${uri}" type="uri" class="text element prevent-select uriGroup linkDraggable showCh ildren"
       target="_self" title="shortcut to ${name}" th:each="i : ${#numbers.sequence(1, 1)}">
       <div class="content shadow">
           <div class="icon">
               <img src="assets/themes/default/icons/folder_ByDinosoftLabs.png">
           </div>
           <label class="txt-white-shadow">
              FOLDER
           </label>
       </div>
       <div class="children">
            <a id="${id}" href="${uri}" type="uri" class="text element prevent-select uri linkDraggable"
                target="_self" title="shortcut to ${name}" th:each="i : ${#numbers.sequence(1, 10)}">
                <div class="content shadow">
                    <div class="icon">
                        <img src="assets/themes/default/icons/web-svgrepo-com.svg">
                    </div>
                    <label class="txt-white txt-shadow">
                        ${name}
                    </label>
                </div>
            </a>
       </div>
    </div>


    <a id="@{${shortcut.id}}" th:href="${shortcut.uri}" type="uri" class="text element prevent-select uri linkDraggable"
       target="_self" title="shortcut to @{${shortcut.uri}}" th:each="shortcut : ${shortcuts}">
       <div class="content shadow">
           <div class="icon">
                <picture>
                    <source th:srcset="@{${shortcut.icon}}" type="image/ico">
                    <img src="assets/themes/default/icons/web-svgrepo-com.svg">
                </picture>
           </div>
           <label class="txt-white txt-shadow">
              [[${shortcut.name}]]
           </label>
       </div>
    </a>
    <!--
    <a id="${id}" href="${uri}" type="uri" class="text element prevent-select uri linkDraggable"
       target="_self" title="shortcut to ${name}" th:each="i : ${#numbers.sequence(1, 10)}">
       <div class="content shadow">
           <div class="icon">
               <img src="assets/themes/default/icons/web-svgrepo-com.svg">
           </div>
           <label class="txt-white txt-shadow">
              ${name}
           </label>
       </div>
    </a>
    -->
    </section>

    <!-- localhost -->
    <section id="server" class="listing">
        <div class="title">
            <h4 class="txt-white txt-shadow">Server</h4>
        </div>
    </section>

    <footer>
        <a href="https://anon34mx.github.io/" class="txt-white">anon34</a>
        <button>conf</button>
    </footer>
</body>
</html>