<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>

    <script src="/libs/jquery/jquery-3.7.1.min.js"></script>
    <script src="/libs/jquery/jquery-ui.js"></script>
    <link rel="stylesheet" href="/libs/jquery/jquery-ui.css">

    <link rel="stylesheet" th:href="@{${'/assets/themes/'+currentTheme+'/style.css'}}">

    <script src="/js/controller.js"></script>
</head>
<body>
    <div id="background"></div>
    <header class="glass">
        <nav>
            <ul>
                <li>
                    <a href="#shortcuts" class="txt-white">shortcuts</a>
                </li>
                <li>
                    <a href="#server" class="txt-white">server</a>
                </li>
            </ul>
        </nav>
        <div class="search-bar">
            <form id="searchForm" th:action="@{${defaultSearchEngine}}" method="get" class="py-1">
                <div class="search ui-widget">
                    <img src="/search.svg" alt="Search engine" class="icon-sm mx-2">
                    <input id="searchInput" type="search" autofocus="" placeholder="Search..." th:name="${searchParameterName}" autocomplete="off" class="px-2 border">
                    <label id="suggestions" for="searchInput"></label>
                </div>
                <!-- <button class="mx-2">GO</button> -->
                 <input type="submit" value="GO" class="mx-2 btn-primary">
                <ul class="searchEnginesList">
                    <button class="mx-2">
                        <img src="/arrow.svg" class="icon-sm">
                    </button>
                    <div class="container glass">
                        <li class="">
                            <a href="#" class="px-2">engine1</a>
                        </li>
                        <li class="">
                            <a href="#" class="px-2">engine1</a>
                        </li>
                        <li class="">
                            <a href="#" class="px-2">engine1</a>
                        </li>
                    </div>
                </ul>
            </form>
        </div>
    </header>
    
    <!-- Shortcuts -->
    <section id="shortcuts" class="listing">
        <h4 class="txt-white">Shortcuts</h4>
        
    <!--   
        <a th:each="i : ${#numbers.sequence(1, 10)}" href="#" target="_self" title="shortcut to external website owo" >
            <div class="glass"></div>
            <div class="element ">
                <img src="assets/themes/default/icons/web-svgrepo-com.svg" alt="">
                <div class="name txt-shadow"><
                    shortcut to external website owo but wont be completely shown
                </div>
            </div>
        </a>
        <img src="assets/themes/default/icons/folder_ByDinosoftLabs.png">
    -->
    <div id="${id}" class="element uriGroup prevent-select linkDraggable uri " type="uriGroup">
        <!-- showChildren -->
        <div class="icon">
            <img class="" src="assets/themes/default/icons/folder_ByDinosoftLabs.png"/>
        </div>
        <label class="txt-white-shadow">
           ${links.name}
        </label>
        <div class="container ">
            <!--  -->
                <a id="${id}" href="${uri}" class="element prevent-select linkDraggable uri" type="uri"
                target="_self" title="shortcut to ${name}" th:each="i : ${#numbers.sequence(1, 4)}">
                    <div class="icon">
                        <img src="assets/themes/default/icons/web-svgrepo-com.svg">
                    </div>
                    <label class="txt-white-shadow">
                    ${name}
                    </label>
                </a>
            <!--  -->
        </div>
    </div>

    <a id="${id}" href="${uri}" class="element prevent-select linkDraggable uri" type="uri"
       target="_self" title="shortcut to ${name}" th:each="i : ${#numbers.sequence(1, 10)}">
        <div class="icon">
            <img src="assets/themes/default/icons/web-svgrepo-com.svg">
        </div>
        <label class="txt-white-shadow">
           ${name}
        </label>
    </a>
    </section>

    <!-- localhost -->
    <section id="server" class="listing">
        <h4 class="txt-white">Shortcuts</h4>
    </section>

    <footer>
        <a href="anon34" class="txt-white">https://anon34mx.github.io/</a>
        <button>conf</button>
    </footer>
</body>
</html>