
<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <script src="/libs/jquery/jquery-3.7.1.min.js"></script>
    <script src="/libs/jquery/jquery-ui.js"></script>
    <link rel="stylesheet" href="/libs/jquery/jquery-ui.css">

    <link rel="stylesheet" th:href="@{${'/assets/themes/'+currentTheme+'/style.css'}}">

    <script src="/js/controller.js"></script>
    <script th:inline="javascript">
        const defaultSearchEngine = [[${defaultSearchEngine}]];
        const defaultSearchParameterName = [[${searchParameterName}]];
        const se = [[${searchEngines}]];
        let shortcuts=[[${shortcuts}]];
        const lhFiles=[[${lhFiles}]];
        var rclickTarget="";

        Object.defineProperty(HTMLMediaElement.prototype, 'playing', {
            get: function(){
                return !!(this.currentTime > 0 && !this.paused && !this.ended && this.readyState > 2);
            }
        });
    </script>
</head>
<body>
    <div id="background"></div>
    <header class="glass">
        <nav>
            <ul>
                <li>
                    <a href="#shortcuts" class="txt-white txt-shadow">shortcuts</a>
                </li>
                <li>
                    <a href="#server" class="txt-white txt-shadow">server</a>
                </li>
            </ul>
        </nav>
        <div class="search-bar">
            <form id="searchForm" th:action="@{${defaultSearchEngine}}" method="get" class="py-1" onsubmit="event.preventDefault();validateSearch(null,null,this)">
                <div class="search ui-widget">
                    <img src="/search.svg" alt="Search engine" class="icon-sm mx-2">
                    <input id="searchInput" type="search" autofocus="" placeholder="Search..." th:name="${searchParameterName}" autocomplete="off" class="px-2 border">
                    <label id="suggestions" for="searchInput"></label>
                </div>
                <input type="submit" value="GO" class="mx-2 btn-primary">
                <ul class="searchEnginesList">
                    <button id="enginesArrow" class="mx-2 btn-primary">
                        <img src="/arrow.svg" class="icon-sm">
                    </button>
                    <div class="container glass">
                        <li class="txt-shadow"
                            th:each="engine : ${searchEngines}">
                            <button href="#engine1" class="px-2 btn-primary py-1" style="width: 100%;"
                                th:uri="@{${engine.uri}}"
                                th:parameter="@{${engine.parameter}}"
                                >
                                <!-- <div> -->
                                    <img th:src="@{${engine.icon}}"  style="width: 20px;height: 20px;">
                                    [[${engine.name}]]
                                <!-- </div> -->
                            </button>
                        </li>
                    </div>
                </ul>
            </form>
        </div>
    </header>
    
    <!-- Shortcuts -->
    <section id="shortcuts" class="">
        <div class="titleBar">
            <div class="title txt-white txt-shadow">Shortcuts</div>
            <div>
                <button id="createShortcuts" onclick="showModal('modal-createShortcut')" class="mx-3 btn-primary">add</button>
                <button id="editShortcuts" class="mx-3 btn-primary">edit</button>
                <button id="editGroupsDone" class="mx-3 btn-primary" style="display: none;">done</button>
            </div>
        </div>
        <div class="shortcutsContainer listing">

        </div>
    </section>

    <!-- localhost -->
    <section id="server" class="listing">
        <div class="titleBar">
            <div class="title txt-white txt-shadow">Localhost</div>
            <div>
                <button id="">⭐</button>
                <button id="">🚫</button>
            </div>
        </div>
    </section>

    <!-- modals -->
    <dialog id="modal-createShortcut">
        <div class="titleBar">
            <div class="title txt-white txt-shadow">Content|</div>
            <div>
                <button onclick="closeModal('modal-createShortcut')">X</button>
            </div>
        </div>
        <form action="">
            <div class="row col-10 mx-auto py-4">
                <div class="row col-12 mb-2">
                    <div class="col-6">
                        <label for="">id</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="col-12">
                    </div>
                </div>
                <div class="row col-12 mb-2">
                    <div class="col-6">
                        <label for="">Name</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="col-12">
                    </div>
                </div>
                <div class="row col-12 mb-2">
                    <div class="col-6">
                        <label for="">Icon</label>
                    </div>
                    <div class="col-6">
                        <input type="text" placeholder="icon" class="col-12">
                    </div>
                </div>
                <div class="row col-12 mb-2">
                    <div class="col-6">
                        <label for="">uri</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="col-12">
                    </div>
                </div>
                <div class="row col-12 mb-2">
                    <div class="col-6">
                        <label for="">Type</label>
                    </div>
                    <div class="col-6">
                        <input id="radioFolder" type="radio" name="type" value="Folder">
                        <label for="radioFolder">Folder</label>
                        <input id="radioFile" type="radio" name="type" value="File">
                        <label for="radioFile">File</label>
                    </div>
                </div>
                <div class="row col-12 mb-2">
                    <button class="mx-3 btn-primary">
                        Save
                    </button>
                    <button class="mx-3 btn-primary">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </dialog>

    <footer>
        <a href="https://anon34mx.github.io/" class="txt-white">anon34</a>
        <button>conf</button>
    </footer>


    <template id="shortcutTemplate">
        <a id="" href="" type="uri" class="text element prevent-select uri linkDraggable"
            target="_self" title="shortcut to..." oncon textmenu="console.log('context menu');return false;">
        <div class="content shadow">
            <div class="icon">
                    <picture>
                        <source srcset="">
                        <img src="assets/themes/default/icons/web-svgrepo-com.svg" error="console.log('as');">
                    </picture>
            </div>
            <label class="name txt-white txt-shadow">
                    {LINK}
            </label>
        </div>
        </a>
    </template>

    <template id="uriGroupTemplate">
        <div id="${id}" href="${uri}" type="uriGroup" class="text element prevent-select uriGroup linkDraggable showCh ildren"
        target="_self" title="shortcut to ${name}" th:each="i : ${#numbers.sequence(1, 1)}">
        <div class="content shadow">
            <div class="icon">
                    <picture>
                        <source srcset="" type="image/ico">
                        <img src="assets/themes/default/icons/folder_ByDinosoftLabs.png">
                    </picture>
            </div>
            <label class="name txt-white txt-shadow">
                {FOLDER}
            </label>
        </div>
        <div class="children">
        </div>
        </div>
    </template>

    <ol id="contextMenu" class="contextMenu" oncontextmenu="return false;" target="" style="display: none;">
        <!-- SHORTCUTS -->
        <li id="OpenLinkNewTab" class="uri" onclick="openElement('uriNewTab')">Open in new tab</li>
        <li id="EditLink" class="uri" onclick="edit(this.attributes.target.value,'edit','uri');">edit</li>
        
        <li id="EditGroup" class="uriGroup" onclick="edit(this.attributes.target.value,'edit','uri');">edit group</li>

        <!-- FOLDERS -->
        <li id="" class="folder" onclick="window.location='lastElement.href'">Open</li>
        <li id="" class="folder" onclick="event.preventDefault();launchFolder()">File Explorer</li>
        <!-- FILES -->
        <li id="" class="file" onclick="event.preventDefault();window.location.href='https'">Open in browser</li>
    </ol>
</body>
</html>